.mainDiv{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.each{
    width: 49%;
    border: 1px solid rgb(220,220,220);
    height: 400px;
    border-radius: 10px;
}
.img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cap{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 600;
}
.cap2{
    color: rgb(243, 53, 84);
    margin-left: 20px;
}
.productCarousal{
    position: relative;
    overflow: hidden;
    /* padding: 26px; */
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    height:320px ;
    /* margin-bottom: 100px; */
    margin-top: 20px;
}
.preBtn{
    background-color: rgba(255, 255, 255, 0.285);
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 30px;
    box-shadow: 0px 0px 10px 1px black;
    z-index: 10;
}
.preBtn:hover{
    background-color: white;
}
.nextBtn:hover{
    background-color: white;
}
.nextBtn{
    background-color: rgba(255, 255, 255, 0.288);
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 45%;
    right: 30px;
    position: absolute;
    box-shadow: 0px 0px 10px 1px black;
    z-index: 10;
}
