.mainDiv{
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    /* border: 1px solid; */
    }
.head{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 15px 10px 10px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e1;
    color: #3f3f51;
}
.line{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 15px 10px 12px;
    padding: 0 2px;
}