.mainDiv{
width: 80%;
margin: auto;
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
.head{
    font-size: 14px;
    color: white;
    font-weight: 500;
}
.each{
    font-size: 12px;
    line-height: 30px;
    color: white;
    font-weight: 400;
}