.mainDiv{
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    margin-top: 20px;
}
.each{
    border: 1px solid rgb(223, 218, 218);
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.photo{
    margin: auto;
    height: 200px;
}
.title{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: rgb(252,39,121);
}
.price{
    margin-top: 4px;
    text-align: center;
    color: rgb(109, 106, 106);
}
.brand{
    margin-top: 4px;
    text-align: center;

}
.rating{
    margin-top: 4px;
    text-align: center;
}
.button{
    margin-top: 6px;
    border: 1px solid rgb(252,39,121);
    margin-left: 27%;
    border-radius: 5px;
    padding: 10px;
    color: rgb(252,39,121);
}
.button:hover{
    background-color: rgba(174, 160, 165, 0.226);
}
.button:active{
    transform: translateY(2px);
}
.button:disabled{
    cursor: not-allowed;
    background-color: rgb(252,39,121);
    color: white;
}
.buttonDiv{
    width: 30%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.button1{
    font-size: 22px;
    color:rgb(252,39,121) ;
    border: 1px solid rgb(252,39,121);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.button2{
    font-size: 22px;
    color:rgb(252,39,121) ;
    border: 1px solid rgb(252,39,121);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;

}
.button1:hover{
    background-color: rgba(247, 233, 238, 0.373)
}
.button1:disabled{
    background-color: rgb(252,39,121) ;
    cursor: not-allowed;
    color: white;
}

.sortFilter{
    width: 20%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.sorting{
    border: 1px solid rgb(252,39,121);
    color:rgb(252,39,121) ;
    padding: 10px;
    border-radius: 5px;
}
.sorting:hover{
    background-color: rgba(248, 235, 240, 0.226);
}
.filtering{
    border: 1px solid rgb(252,39,121);
    color:rgb(252,39,121) ;
    padding: 10px;
    border-radius: 5px;
}
.filtering:hover{
    background-color: rgba(242, 233, 236, 0.226);
}